export APP_NAME=puma_daemon_5281
export PORT=35281
export MYSQL_PORT=15281
export MYSQL_USER=root
export MYSQL_PASSWORD=password
export DATABASE_URL="mysql2://$MYSQL_USER:$MYSQL_PASSWORD@0.0.0.0:$MYSQL_PORT/$APP_NAME"
